.form {
  margin-top: 6.5rem;
}

h4 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: var(--content-primary);
  line-height: 150%;
  margin-bottom: 0;
}

label {
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: bold;
  text-align: center;
  color: var(--content-secondary);
  font-family: "Roboto Mono", sans-serif;
  margin-top: 3rem;
}

input[type="number"] {
  background-color: var(--background-secondary);
  width: 5.5rem;
  padding: 0.9rem;
  font-size: 16px;
  border: 1px solid var(--background-secondary);
  border-radius: 0.5rem;
  color: white;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Remove a aparência padrão */
  margin: 0; /* Remove margens */
}

input[type="number"] {
  -moz-appearance: textfield; /* Remove a aparência padrão do spinner no Firefox */
}

.btn {
  background-color: var(--background-tertiary);
  border: 1px solid var(--background-tertiary);
  width: 100%;
  height: 3rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  color: var(--content-primary);
}

.btn:hover {
  background-color: var(--background-secondary);
  color: var(--content-primary);
}

.btn:click {
  background-color: var(--background-secondary);
  color: var(--content-primary);
}

@media (max-width: 576px) {
  .input-group {
    justify-content: center;
  }
  .d-grid {
    width: 90%;
    margin: auto;
  }
}
